<%- partial('_partial/head') %>
<body>
  <%- partial('_partial/header', null, {cache: !config.relative_link}) %>
  <div class="page-content">
    <div class="container">
      <div class="posts">
        <%- body %>
      </div>
    </div>
  </div>
  <% if(page) { %>
    <%- partial('_partial/post/nav', {post: page, index: false}) %>
  <% } %>
  <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
  <%- partial('_partial/after-footer') %>
</body>
</html>
