<% if (type === 'index' || type === 'tag' || type === 'category'){ %>
  <% if (type === 'tag') { %>
    <div class="page-header">
      <h1 class="page-title">
        <span class="hash">#</span>
        <a href="<%- url_for('tags/' + page.tag) %>"><%- page.tag %></a>
      </h1>
      <div class="page-description">
        <strong><%- page.total %></strong> 篇文章
      </div>
    </div>
  <% } %>
  <% if (type === 'category') { %>
    <div class="page-header">
      <h1 class="page-title">
        <a href="<%- url_for('categories/' + page.category) %>"><%- page.category %></a>
      </h1>
      <div class="page-description">
        <strong><%- page.total %></strong> 篇文章
      </div>
    </div>
  <% } %>
  <div class="page-content">
    <div class="container">
      <% page.posts.each(function(post){ %>
        <%- partial('article', {post: post, index: true}) %>
      <% }) %>
    </div>
  </div>
<% } else { %>
  <% var last; %>
  <% page.posts.each(function(post, i){ %>
    <% var year = post.date.year(); %>
    <% if (last != year){ %>
      <% if (last != null){ %>
        </div></section>
      <% } %>
      <% last = year; %>
      <section class="archives-wrap">
        <div class="archive-year-wrap">
          <a href="<%- url_for(config.archive_dir + '/' + year) %>" class="archive-year"><%= year %></a>
        </div>
        <div class="archives">
    <% } %>
    <%- partial('archive-post', {post: post, even: i % 2 == 0}) %>
  <% }) %>
  <% if (page.posts.length){ %>
    </div></section>
  <% } %>
<% } %>
<%- partial('pagination') %>
