<article id="<%= post.layout %>-<%= post.slug %>" class="post post-type-<%= post.layout %>" itemscope itemprop="blogPost">
  <header class="post-header">
    <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
    <% if (post.link || post.title){ %>
      <%- partial('post/title', {class_name: 'article-title'}) %>
    <% } %>
  </header>

  <div class="content-plus" itemprop="articleBody">
    <% if (post.excerpt && index){ %>
      <%- post.excerpt %>
      <% if (theme.excerpt_link){ %>
        <a class="more-link no_blank" href="<%- url_for(post.path) %>#more">
          <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>
          <%= theme.excerpt_link %>
        </a>
      <% } %>
    <% } else { %>
      <%- post.content %>
    <% } %>
  </div>

  <footer class="post-meta">
    <a data-url="<%- post.permalink %>" data-id="<%= post._id %>" class="article-share-link"><%= __('share') %></a>
    <%- partial('post/category') %>
    <%- partial('post/tag') %>
    <% if (post.comments && config.disqus_shortname){ %>
      <a href="<%- post.permalink %>#disqus_thread" class="article-comment-link"><%= __('comment') %></a>
    <% } %>
  </footer>
</article>
