<%
const isPage = typeof type !== 'undefined' && type === 'page'
%>
<article id="<%= post.layout %>-<%= post.slug %>" class="post post-type-<%= post.layout %> <%- index ? 'post--index' : '' %>" itemscope itemprop="blogPost">
  <header class="post-header">
    <% if (!isPage) { %>
      <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
    <% } %>
    <% if (post.link || post.title){ %>
      <%- partial('post/title', {class_name: 'article-title'}) %>
    <% } %>
  </header>

  <div class="content-plus" itemprop="articleBody">
    <% if (post.excerpt && index){ %>
      <%- post.excerpt %>
      <a class="more-link no_blank" href="<%- url_for(post.path) %>#more">
        <%- __('read_more') %>
      </a>
    <% } else { %>
      <% if (page.toc) { %>
        <%- toc(page.content) %>
      <% } %>
      <%- post.content %>
    <% } %>
  </div>
  <% if (!index && !isPage) { %>
  <footer class="post-meta clearfix">
    <a href="#" data-url="<%- post.permalink %>" data-id="<%= post._id %>" class="right article-share-link"><%= __('share') %></a>
    <%- // partial('post/category') %>
    <%- partial('post/tag') %>
    <% if (post.comments && config.disqus_shortname){ %>
      <a href="<%- post.permalink %>#disqus_thread" class="article-comment-link"><%= __('comment') %></a>
    <% } %>
  </footer>
  <% } %>
</article>
