<div class="branding">
  <div class="container-fluid">
    <div class="wrap">
      <h1 class="logo">
        <a href="<%- url_for() %>"><img class="svg" src="<%- url_for('img/logo.svg')%>" alt="<%= config.title %>"></a>
      </h1>
      <% if (theme.subtitle){ %>
        <h2 id="subtitle-wrap">
          <a href="<%- url_for() %>" id="subtitle"><%= theme.subtitle %></a>
        </h2>
      <% } %>
      <%- partial('_partial/navigation', null, {cache: !config.relative_link}) %>
    </div>
  </div>
</div>
